#!/bin/sh
#
# An example hook script to prepare a packed repository for use over
# dumb transports.
#
# To enable this hook, rename this file to "post-update".

PREV_COMMIT=$1
POST_COMMIT=$2

exec php rodionTest.php
